

{%- load_yaml as base_defaults %}
default:
  pkgs:
  - influxdb
  service: influxdb
  reporting_disabled: true
  http:
    enabled: true
    bind:
      address: 0.0.0.0
      port: 8086
    log_enabled: false
  udp:
    enabled: false
    bind:
      address: 0.0.0.0
      port: 9096
  admin:
    enabled: true
    bind:
      address: 0.0.0.0
      port: 8083
  data:
    enabled: true
    dir: '/var/lib/influxdb/data'
    wal_dir: '/var/lib/influxdb/wal'
    query_log_enabled: false
  meta:
    enabled: true
    dir: '/var/lib/influxdb/meta'
{%- endload %}

{%- set server = salt['grains.filter_by'](base_defaults, merge=salt['pillar.get']('influxdb:server')) %}

{%- set monitoring = salt['grains.filter_by']({
  'default': {
    'http_errors_percentage': 5,
    'failed_points_percentage': 5,
    'dropped_points_percentage': 5,
  },
}, grain='os_family', merge=salt['pillar.get']('influxdb:monitoring')) %}
